################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ThreadOverheadExample/v16/.suo
/ThreadOverheadExample/bin/Debug/netcoreapp3.1
/ThreadOverheadExample/obj
/ThreadOverheadExampleNetFramework/bin/Debug
/ThreadOverheadExampleNetFramework/obj/Debug
